@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.Container {
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  height: auto;
  margin: 2rem;
}
.rightContainer {
  background-color: #333333;
  padding: 2rem;
  border-radius: 5px;
  width: 25vw;
  padding-bottom: 0rem;
}

.rightContainer p {
  display: flex;
  justify-content: space-between;
}
.transaction {
  background-color: #707070;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0.5rem;
}

.small {
  background-color: #333333;
  margin: 0.5rem;
  border-radius: 7px;
  padding: 0.2rem;
  border: 1px solid white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
body {
  background-color: #161616;
  color: #f9f9f9;
}
header {
  height: 50px;
  border: 2px solid white;
}
header img {
  filter: brightness(0) invert(1);
  height: 50px;
}
.button button {
  display: flex;
  justify-content: left;
  width: 246px;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 0.85rem;
  align-items: center;
  margin-left: 0;
}
.button {
  margin: 22px;
}
.button button svg {
  height: 24px;
  margin-right: 8px;
  filter: invert(1);
}

.button button {
  --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
  --accent: #3e75ff;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  cursor: pointer;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
}

.button button:hover {
  box-shadow: var(--hover-shadows);
}

.button button:active {
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}
.active {
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: #3e75ff !important;
}

.qrButtons {
  display: flex;
  justify-content: space-between;
}

.Button {
  background-color: #707070;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 3px;
  text-decoration: none;
  color: white;
}

.receive {
  background-color: #707070;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 3px;
  text-decoration: none !important;
  color: white !important;
  width: 100%;
}

.receiveButton {
  margin: 2rem 0;
  width: 100%;
}

.insideheading {
  display: flex;
  justify-content: space-around;
  width: 80px;
}
.insideheading svg {
  filter: invert(1);
}
.transactbutton {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
}
.send {
  width: 100%;
  margin: 4px;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 5px 0;
  font-size: 1.2rem;
}
.send {
  width: 100%;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid rgb(79, 123, 255);
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color: #3e75ff;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.send:hover {
  background-color: #2362ff;
  box-shadow: 0px 0px 20px -18px;
}

.send:active {
  transform: scale(0.95);
}
#quantity,
#rrr {
  width: 96%;
  border-radius: 4px;
  border: 1px solid grey;
  margin: 6px;
}
h4 {
  padding: 5px;
}
.qr {
  width: 48%;
  margin: 4px;
  height: 45px;
  border-radius: 8px;
  border: 2px solid rgb(79, 123, 255);
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color: #3e75ff;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.qr:hover {
  background-color: #2362ff;
  box-shadow: 0px 0px 20px -18px;
}

.qr:active {
  transform: scale(0.95);
}
.e1img2dj {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  word-break: break-word;
  visibility: inherit;
  --colors-bg-primary: #fff;
  --colors-bg-secondary: #f6f6f8;
  --colors-bg-tertiary: #fafbfc;
  --colors-bg-special: #fafafc;
  --colors-bg-activePrimary: #eff3ff;
  --colors-bg-activeSecondary: #fff;
  --colors-bg-buttonPrimary: #5887ff;
  --colors-bg-buttonSecondary: #f6f6f8;
  --colors-bg-buttonDisabled: #a3a5ba;
  --colors-bg-app: #fbfbfd;
  --colors-bg-pressed: #e4eaff;
  --colors-stroke-primary: #d3d4de;
  --colors-stroke-secondary: #f2f2f7;
  --colors-stroke-tertiary: #f6f6f8;
  --colors-system-errorMain: #f43d3d;
  --colors-system-successMain: #2db533;
  --colors-system-warningMain: #ffa631;
  --colors-system-errorBg: #fef5f5;
  --colors-system-successBg: #f5fbf5;
  --colors-system-warningBg: #fffbf5;
  --colors-textIcon-primary: #202020;
  --colors-textIcon-secondary: #8e8e93;
  --colors-textIcon-tertiary: #d2d4e5;
  --colors-textIcon-links: #82a5ff;
  --colors-textIcon-active: #5887ff;
  --colors-textIcon-buttonPrimary: #fff;
  --colors-textIcon-buttonSecondary: #8e8e93;
  --colors-textIcon-buttonDisabled: #d0d3e9;
  --colors-card: #f6f6f9;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  -webkit-box-align: center;
  align-items: center;
  color: var(--colors-textIcon-secondary);
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  -webkit-box-pack: center;
  display: flex;
  justify-content: center;
  line-height: 140%;
}
.s4e8lvl {
  color: var(--colors-textIcon-secondary);
  height: 24px;
  margin-right: 8px;
  width: 24px;
}
.outlink {
  margin: 5px;
}
.solana {
  margin-top: 15px;
}
.QR {
  display: flex;
}
.QR img {
  margin: 7px;
}
.disclaimer {
  width: 250px;
  align-items: center;
  margin: auto;
}
