body{
    width: 100%;
    height: 100%;
    padding: none;
    margin: none;
    background-color: #ffffff;
}

.header{
    padding: 1rem;
    font-size: 2rem !important;
    width: auto;
    margin: none;
    color: bisque;
}

.header img{
    height: 7rem;
    filter: invert(70%);
}
.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: none;
    width: auto;
    height: 3rem;

}

svg{
    filter: invert(70%);
   
}

.icon{
    margin-right: 1.8rem;
}
.header a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

.icon{
    height: 3rem;
    width: 3rem;
    color: bisque;
}

#icon{
    color: bisque;
}

footer{
    font-size: 1.5rem;
}

h6{
    font-size: 1.5rem;
    margin: auto;
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 1rem auto;
}
.right{
    width: 10rem;
}

h1{
    font-size: 1rem;
}
.footer{
    position: relative;
    bottom: 0;
}
footer a{
    text-decoration: none;
    color: inherit;
}

