body{
    width: 100%;
    height: 100%;
    padding: none;
    margin: none;
    background-color: #161616;
    margin: 0;
}

.html{
    height: auto;
    width: 100%;
}
.header{
    padding: 1rem;
    font-size: 2rem !important;
    width: auto;
    margin: none;
    color: bisque;
}

.header img{
    height: 4rem;
    filter: invert(1);
}
.header{
    width: 100%;
}
.header ul{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    margin: none;
    width: auto;
    height: 3rem;

}

svg{
    filter: invert(70%);
   
}

.icon{
    margin-right: 1.8rem;
}
.header a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

.icon{
    height: 3rem;
    width: 3rem;
    color: bisque;
}

#icon{
    color: bisque;
    height: 2.5rem;

}

#headerIcon{
    padding: auto;
}

footer{
    font-size: 1.5rem;
}

h6{
    font-size: 1.5rem;
    margin: auto;
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 1rem auto;
}

.right{
    width: 10rem;
}

h1{
    font-size: 1rem;
}
.footer{
    position: relative;
    bottom: -10px;
}
footer a{
    text-decoration: none;
    color: inherit;
}

.footer{
    box-shadow:  0 -1rem 1rem rgba(156, 138, 116, 0.2);
}

.small span{
    padding: 0.2rem;
}