@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #161616;
  color: #f9f9f9;
}
header {
  height: 50px;
  border: 2px solid white;
}
header img {
  filter: brightness(0) invert(1);
  height: 50px;
}
