@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
* {
  font-family: "GT Super Txt Trial", sans-serif;
}
body {
  background-color: #161616;
  color: #f9f9f9;
}
.container {
  display: flex;
}
.border {
  border: 2px solid red;
}
.left {
  height: 100vh;
  width: 50vw;
}
.left img {
  height: 65vh;
  margin: 120px 50px;
  border-radius: 9px;
  box-shadow: 0px 0px 6.5rem rgba(18, 102, 172, 0.589);
}
.right {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 50vw;
}
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  -webkit-filter: drop-shadow(0 0 23px var(--animation-color));
  filter: drop-shadow(0 0 23px var(--animation-color));
}
.welcome {
  margin: auto 0;

  text-align: right;
  padding-right: 30px;
}

.welcome h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 2.4rem;
  margin: 20px 0;
}

.welcome h3 {
  width: 700px;
  margin: 10px 0;
  font-size: 1rem;
  max-width: 100%; /* Ensure the width doesn't exceed the container */
  margin-left: auto; /* Align to the right by pushing it to the left margin */
  margin-bottom: 20px;
}
.features {
  padding-top: 170px;
  padding-bottom: 0;
  position: relative;
  bottom: -105px;
  width: 100%;
  height: 40vh;
  background-color: white;
  border-radius: 47% 47% 0 0;
}
.features2 {
  z-index: -1;
  position: relative;
  bottom: -100px;
  padding: 0;
  width: 100%;
  margin-top: 0;
  height: 70vh;
  background-color: rgb(255, 255, 255);
}
.features h1 {
  color: black;
  margin: 0 auto;
  font-weight: bold;
  width: 55vw;
  /* font-size: 2.3rem; */
  text-align: center;
  font-family: "Protest Revolution", sans-serif;
}
.footer {
  position: relative;
  bottom: 0px;
  background-color: #161616;
  width: 100vw;
  height: 20vh;
  border-radius: 45% 45% 0 0;
}
.inner {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.innerLeft,
.innerRight {
  color: black;
  height: 70vh;
  width: 40vw;
}
.innerLeft {
  display: flex;
}
.featuretext {
  align-self: center;
  margin: auto;
  width: 30vw;
}
.featuretext h2 {
  font-family: "Unbounded", sans-serif;
  font-size: 1.8rem;
}
.featuretext p {
  font-family: "Unbounded", sans-serif;
  /* font-family: "Protest Revolution", sans-serif; */
  font-size: 1.3rem;
}
.featuretext h4 {
  font-family: "Unbounded", sans-serif;
  /* font-family: "Protest Revolution", sans-serif; */
  font-size: 1.6rem;
}
.innerRight svg {
  opacity: 0.5;
  z-index: 1;
}
.w94m6aa {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 137px;
  margin-top: 40px;
}
.tpw4ax {
  color: #f9f9f9;
  font-family: "Protest Revolution", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 44px;
  max-width: 35vw;
  text-align: center;
}
/*new box  */
.g31ohee {
  display: flex;
  background: linear-gradient(125deg, #fff738, #36f3ff 50%, #1f50ff);
  border-radius: 16px;
  margin: 56px 20px 0;
  max-width: 80vw;
  padding: 2px;
}
.fcx52sv {
  background: #161616;
  border-radius: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 20px 7px;
}
.fdvqc1d {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 32px;
}
.fml18gk:not(:last-child) {
  margin-bottom: 32px;
}
.f16cwklb {
  color: #f9f9f9;
  font-family: Aktiv Grotesk Corp, sans-serif;
  font-size: 20px;
  line-height: 26px;
}
.f1nh2fpl {
  color: #f9f9f9;
  font-family: Aktiv Grotesk Corp, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
  opacity: 0.5;
}
.b1n4fvrc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 40px;
}
.b1m49c8t {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  border-radius: 32px;
  color: #000;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Aktiv Grotesk Corp, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 61px;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 140%;
  min-width: 226px;
  padding: 0 24px;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

.b1m49c8t:hover {
  background-color: #71e6ff;
}

.b1m49c8t.green {
  background-color: #bcff4e;
}

.b1m49c8t.green:hover {
  background-color: #e3ff74;
}

.b1m49c8t.glow:before {
  background: linear-gradient(90deg, #fff, #fff);
  border-radius: 32px;
  bottom: 0;
  content: "";
  -webkit-filter: blur(30px);
  filter: blur(30px);
  height: 50px;
  left: 10px;
  opacity: 0.3;
  position: absolute;
  right: 10px;
}

.b1m49c8t.glow.green:before {
  background: linear-gradient(90deg, #bcff4e, #bcff4e);
}

.bnaazyq {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  border-radius: 32px;
  color: #000;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Aktiv Grotesk Corp, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 61px;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 140%;
  min-width: 226px;
  padding: 0 24px;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

.bnaazyq:hover {
  background-color: #71e6ff;
}

.bnaazyq.green {
  background-color: #bcff4e;
}

.bnaazyq.green:hover {
  background-color: #e3ff74;
}

.bnaazyq.glow:before {
  background: linear-gradient(90deg, #fff, #fff);
  border-radius: 32px;
  bottom: 0;
  content: "";
  -webkit-filter: blur(30px);
  filter: blur(30px);
  height: 50px;
  left: 10px;
  opacity: 0.3;
  position: absolute;
  right: 10px;
}

.bnaazyq.glow.green:before {
  background: linear-gradient(90deg, #bcff4e, #bcff4e);
}
.tondcrz.ios,
.tondcrz.web {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 25px;
  padding-left: 33px;
}

.tondcrz.web {
  background-image: url(https://p2p-org.github.io/p2p-wallet-web/mvvm/web-4e06d4860f912731bbcc.png);
}
/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

::-webkit-scrollbar-track {
  background-color: #333;
}
