<footer >
    <ul>
        <li>
            <h6>Paidify</h6>
        </li>
        <li>
            <p>We aim to provide secure and decentralized transactions</p>
        </li>
        <li>
            <a href="">Contact Us</a>
        </li>
    </ul>
</footer>