<header class="header">
    <ul>
        <li id="headerIcon">
<img src="images/icon.png" alt="PayDEFI">
        </li>

       <% if(locals.isAuth){%>
        <li>
         <a href="/logout" class="logout"> Logout</a>
        </li>
        <%}%>
    </ul>
</header>