<%-include("includes/head")%>
  </head>
<%-include("includes/header") %>
  <body>
    <div class="container">
      <div class="left">
        <img src="images/copy.jpg" alt="" />
      </div>
      <div class="right">
        <div class="welcome">
          <h1>Fast and Decentralised UPI Solution</h1>
          <h3 class="subheading">
            Experience the Future of Financial Connectivity with Our Reimagined
            UPI: Breaking Boundaries, Enabling Swift and Secure Cross-Border
            Transactions, and Empowering Global Connections Like Never Before.
          </h3>
          <div class="beginbutton">
            <button class="button" data-text="Awesome">
              <span class="actual-text"
                >&nbsp;begin&nbsp;your&nbsp;journey&nbsp;</span
              >
              <span aria-hidden="true" class="hover-text"
                >&nbsp;begin&nbsp;your&nbsp;journey&nbsp;</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="features">
      <h1>
        Envision the capability to utilize UPI in a decentralized manner,
        facilitating cross-border connections.
      </h1>
    </div>
    <div class="features2"></div>
    <%-include("includes/footer")%>
  </body>
</html>
