<%-include("includes/head")%>
  </head>
<%-include("includes/header") %>
  <body>
    <div class="container">
      <div class="left">
        <img src="images/copy.jpg" alt="" />
      </div>
      <div class="right">
        <div class="welcome">
          <h1>Fast and Decentralised UPI Solution</h1>
          <h3 class="subheading">
            Experience the Future of Financial Connectivity with Our Reimagined
            UPI: Breaking Boundaries, Enabling Swift and Secure Cross-Border
            Transactions, and Empowering Global Connections Like Never Before.
          </h3>
          <div class="beginbutton">
            <button class="button" data-text="Awesome">
              <span class="actual-text"
                >&nbsp;begin&nbsp;your&nbsp;journey&nbsp;</span
              >
              <span aria-hidden="true" class="hover-text"
                >&nbsp;begin&nbsp;your&nbsp;journey&nbsp;</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="w94m6aa">
      <div class="tpw4ax">
        Store, receive, transfer your money with all those great features
      </div>
      <div class="g31ohee">
        <div class="fcx52sv">
          <div class="fdvqc1d">
            <div class="fml18gk">
              <div class="f16cwklb">It’s cross-platform</div>
              <div class="f1nh2fpl">
                You can use your P2P Wallet everywhere. iOS, Web, Android
                . Yes, yes, we know, it shouldn’t be a feature, but the
                market shows different...
              </div>
            </div>
            <div class="fml18gk">
              <div class="f16cwklb">It’s protected</div>
              <div class="f1nh2fpl">
                Your device — your keys. We don’t have any access to your
                private info. Use password to access your account and funds.
              </div>
            </div>
            <div class="fml18gk">
              <div class="f16cwklb">It’s fast as a rocket</div>
              <div class="f1nh2fpl">
                Enjoy seamlessly fast transactions with full transparency.
              </div>
            </div>
          </div>
          <div class="fdvqc1d">
            <div class="fml18gk">
              <div class="f16cwklb">It’s designed for people</div>
              <div class="f1nh2fpl">
                It’s simple with an intuitive interface inside. Everything under
                your fingertips.
              </div>
            </div>
            <div class="fml18gk">
              <div class="f16cwklb">Decentralized lending and borrowing</div>
              <div class="f1nh2fpl">
                An additional feature which allows user to lend and borrow money to some other person with the middle man as our trusted payDeFi.
              </div>
            </div>
            <div class="b1n4fvrc">
              <a class="glow b1m49c8t" href="#"
                ><div class="web tondcrz">Go to web wallet</div></a>
          </div>
        </div>
      </div>
    </div>

    <div class="features">
      <h1>
        Envision the capability to utilize UPI in a decentralized manner,
        facilitating cross-border connections.
      </h1>
      <div class="inner">
        <div class="innerLeft">
          <div class="featuretext">
            <h2>
              Explore the swift and cost-efficient UPI solution on the Solana
              blockchain.
            </h2>
            <p>
              Our platform ensures rapid cross-border transactions in seconds,
              maintaining speed and stability for various tokens.
            </p>
            <h4>
              Solana's diverse ecosystem and native tokens guarantee
              unparalleled efficiency and low-fee transactions, setting us apart
              in financial connectivity.
            </h4>
          </div>
        </div>
        <div class="innerRight">
          <!--?xml version="1.0" standalone="no"?-->
          <svg
            id="sw-js-blob-svg"
            viewBox="0 0 100 100"
            xmlns="http://www.w3.org/2000/svg"
          >
            <defs>
              <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
                <stop
                  id="stop1"
                  stop-color="rgba(133.263, 122.507, 117.416, 1)"
                  offset="0%"
                ></stop>
                <stop
                  id="stop2"
                  stop-color="rgba(219.781, 211.794, 198.609, 1)"
                  offset="100%"
                ></stop>
              </linearGradient>
            </defs>
            <path
              fill="url(#sw-gradient)"
              d="M33.8,-12.6C37.1,-0.7,28.6,13.4,16.4,22.2C4.2,31,-11.7,34.4,-22,27.6C-32.3,20.7,-37.2,3.5,-32.6,-10.1C-28,-23.7,-14,-33.8,0.6,-34C15.2,-34.2,30.4,-24.5,33.8,-12.6Z"
              width="100%"
              height="100%"
              transform="translate(50 50)"
              stroke-width="0"
              style="transition: all 0.3s ease 0s"
              stroke="url(#sw-gradient)"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="features2"></div>
    <%-include("includes/footer")%>
  </body>
</html>

